/* ----------------------project card section--------------------- */

.card {
  margin: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  width: 250px;
  height: 250px;
  transition: 0.5s ease;
}
.card_image {
  height: 150px;
}

.card_image img {
  border-radius: 10px;
  height: 140px;
  padding: 5px;
  width: 100%;
}

.card_body {
  padding-left: 10px;
  position: relative;
}
.link:before {
  content: "view";
  display: none;
  color: white;
  background-color: rgb(160, 156, 156);
  font-size: 20px;
  right:30px;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
}
.link {
  position: absolute;
  font-size: 20px;
  top: -45px;
  right: 10px;
  text-decoration: none;
  color:inherit;
  background-color: #24248f;;
  border-radius:10px;
  padding:1px 5px 2px 5px;
}
.link i{
  font-size:20px;
  padding:0;
  margin:0;
}
.link a{
  padding:0;
  margin:0;
  color:white;
}
.link:hover:before {
  display: inline;
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 30px 45px -15px rgba(0, 111, 255, 0.6);
}

.link:hover {
}
/* -------------------------------------------------------------- */

/* ---------------project section------------------- */

.project_main {
  min-height: 100vh;
  margin-bottom: 100px;
}
.project_intro {
  text-align: center;
}
.project_intro h1 {
  margin: 20px;
}
.project_container {
  margin: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project {
  display: flex;
}
@media screen and (max-width: 960px) {
  .project_container {
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }
}
