.blog_container {
  min-height: 100vh;
}

.blog_intro {
  text-align: center;

  margin: 20px;
}

.blog_nav {
  margin: 20px;
  text-align: center;
}

.blog_link {
  text-decoration: none;
  color: black;
  margin: 10px;
}
.blog_active {
  padding: 5px 5px;
  background-color: #24248f;
  color: white;
  border-radius: 5px;
}
/* featured post------------------------------------------ */
.featured {
  display: flex;
  width: 35%;
  height: 380px;
  position: relative;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
.featured img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: auto;
}
.featured_heading {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 230, 0);
  padding: 3px 7px 3px 7px;
  margin-top: 5px;
  margin-left: 5px;
  color: rgb(19, 19, 39);
  border-radius: 3px;
}
.category {
  color: grey;
  font-size: 15px;
}
.featured_link {
  color: rgb(19, 19, 39);
  text-decoration: none;
}
/* both featured and blog margin */
.category,
.featured_title, .blog_title, .blog_readmore {
  margin-left: 10px;
  margin-right: 10px;
}
.readmore {
  position: absolute;
  bottom: 5px;
  font-size: 10;
  margin-top: 10px;
  width: 85px;
  display: flex;
  text-align: center;
  height: 35px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #24248f;
  color: white;
  border-radius: 5px;
  border: none;
}

.blog_heading {
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}
  /* blog card---------------------- */
.blog {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  min-height: 330px;
  /* margin-right: 20px;
    margin-left: 20px;
    margin-top:20px;
    margin-bottom:20px; */
  margin: 20px;
  border-radius: 5px;
  transition: 0.5s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
.blog img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: auto;
}
.blog_readmore{
  position: absolute;
  bottom: 5px;
  font-size: 10;
  margin-top: 10px;
  width: 85px;
  display: flex;
  text-align: center;
  height: 35px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #24248f;
  color: white;
  border-radius: 5px;
  border: none;
}
.blog:hover {
  transform: scale(1.02);
  box-shadow: 0 30px 45px -15px rgba(0, 111, 255, 0.6);
}

.blog_list {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 30px;
  padding-right: 30px;

  width: 100%;
  align-items: center;
  justify-content: center;
}
/* .blogcard{
    border:2px solid blue;
   
} */

/* -------------------------blog details------------ */

.blog_detail {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.comments {
  border-radius: 10px;
  background-color: rgb(212, 212, 230);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.commentform {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.commentsection {
  height: 100px;
  width: 200px;
}
.blog_body {
  margin-left: 40px;
  margin-right: 40px;
  flex-grow: 3;
  width: 100%;
  background-color: rgb(212, 212, 230);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
}

.latest_posts {
  padding: 10px;
  flex-grow: 2;
  width: 400px;
  background-color: rgb(212, 212, 230);
  border-radius: 10px;
}

@media screen and (max-width: 960px) {
  .blog_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .featured {
    width: 80%;

    margin: 20px;
  }

  .featured_heading {
    margin: 0;
    text-align: center;
  }
  .blog {
  }
  .blog_list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
  }

  .blog_detail {
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blog_body {
    margin: 0;
    order: -1;
    max-width: none;
    min-width: none;
  }
  .content {
    max-width: 100%;
    overflow: auto;
  }
  .latest_posts {
    width: 100%;
  }
}
@media screen and (max-width: 560px) {
  .featured {
    width: 300px;
  }
  .featured img {
    height: auto;
  }
  .blog {
    width: 300px;
  }
  .blog img {
  }
}
