<html>
    <head>
        <title>
            smriti
        </title>
        <style>
            div{
                height: 200px; 
                width:200px; 
                border: 2px solid red; 
                color:blue; 
            }
            img{
                
                width:500px;
                height:auto;
                box-shadow: 10px 10px black;
            }
            a{
                margin-top:200px;
            }
        </style>
    </head>
    <body>
        <div >
        saroj loves smriti
    </div>
    <div>
        we love each other
    </div>
<hr/>   

<form>
    Username: <input type="text"> <br/>
    Password: <input type="password">
    <input type='submit'value="login">
</form>


<img src="baby.jpg"> 
<a href="https://pradhansaroj.com.np">my website</a>

</body>
</html>