* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}
.dark {
  background-color: #070715;
  text-decoration: aliceblue;
 
}
.light {
  background-color: white;
  
}
